Package: org.thebigboss.listlauncher9
Name: ListLauncher9
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Appliciation list inside of Spotlight! Launch apps fast!
Maintainer: twodayslate
Author: twodayslate
Section: Tweaks
