Package: org.thebigboss.listlauncher9
Name: ListLauncher for iOS 9
Depends: mobilesubstrate
Conflicts: org.thebigboss.nearbynews
Version: 1.0
Architecture: iphoneos-arm
Description: Appliciation list inside of Spotlight! Launch apps fast!
Maintainer: twodayslate
Author: twodayslate
Section: Tweaks
